<div class="nav-side-menu">
  <div class="brand changeFont">
    <div *ngIf="!this.isMobile; else notMobile">
      <div class="alex">Alex</div>
      <div class="alexMoshinsky">Moshinsky</div>
      <div class="fullStack">Full Stack Developer</div>
    </div>
    <ng-template #notMobile>
      <div>Alex Moshinsky</div>
    </ng-template>
  </div>
  <i
    class="fa fa-bars fa-2x toggle-btn"
    data-toggle="collapse"
    data-target="#menu-content"
  ></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li routerLink="home" class="disableBorderWhenActive">
        <a><i class="fa fa-home"></i> Home</a>
      </li>
      <li routerLink="about" class="disableBorderWhenActive">
        <a><i class="fa fa-id-card"></i> About</a>
      </li>
      <li routerLink="skills" class="disableBorderWhenActive">
        <a><i style="padding-right: 2.5%; "><app-svg-sword></app-svg-sword></i>Skills</a>
      </li>
      <li
        data-toggle="collapse"
        data-target="#port"
        class="collapsed disableBorderWhenActive"
        routerLink="#"
      >
        <a
          ><i class="fab fa-uncharted"></i> Portfolio
          <span class="fas fa-arrow-down arrow arrowToEnd"></span
        ></a>
      </li>
      <ul class="sub-menu collapse" id="port">
        <li>
          <a routerLink="#"><span class="fas fa-globe"></span> Works </a>
        </li>
        <li>
          <a routerLink="#"
            ><span class="fas fa-graduation-cap"></span> Academic works
          </a>
        </li>
      </ul>

      <li>
        <a routerLink="#"><i class="fa fa-clipboard-list"></i> Resume</a>
      </li>
      <li>
        <a routerLink="#"><i class="fa fa-university"></i> Education </a>
      </li>
      <li>
        <a routerLink="#"><i class="fa fa-scroll"></i> Publications</a>
      </li>
    </ul>
    <ul></ul>
  </div>
</div>
