<div class="container changeFont aboutMeBackground">
  <div class="row text-center">
    <div class="col-12 mt-1">
      <app-header [title]="'About'"></app-header>
    </div>
  </div>
  <div class="row font-weight-bold" style="font-size: x-large;">
    <div class="col-12 ">
      <i>My name is Alex and i'm a full stack developer.</i>
    </div>
    <div class="col-12">
      <i>A little about myself:</i>
    </div>
    <div class="col-12">
      <i> technology and was very passion about it.</i>
    </div>
    <div class="col-12">
      <i>
        I’m a mission-driven full stack developer with a passion for thoughtful
        software design, collaboration, and teaching.</i
      >
    </div>
    <div class="col-12">
      <i>
        I’m constantly looking for opportunities and challenges that are
        meaningful to me.
      </i>
    </div>
    <div class="col-12">
      <i>
        I've never stopped engaging my passion to help others and solve
        problems.
      </i>
      <div class="col-12">
        <i style="font-size: xx-large; color: red;">WIP</i>
      </div>
    </div>
  </div>
</div>
