.bgColorHeader {
  background-color: #dfdfdf00;
  height: 5vh;
}

.text-js {
  opacity: 0;
  background-color: #2574af;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.headline {
  margin: 20px;
  color: rgb(255, 255, 255);
  font-size: xx-large;
  text-align: center;
}

.titleName {
  letter-spacing: 1.6px;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 767px) {
  .headline {
    margin: 0;
    font-size: medium;
  }
}
