a {
  color: white;
  font-size: x-large;
}

a:hover {
  color: brown;
}

.iconColor {
  color: white;
}

.iconColor:hover {
  color: brown;
}

.iconBorder {
  border: solid white 1px;
}

.nav-item {
  margin-right: 30px;
}

.myIconCircle {
  border-radius: 100%;
  border: 2px solid white;
  text-align: center;
}
