<div class="container">
  <div class="row">
    <div class="text-center col-12">
      <app-header [title]="'Resume'"></app-header>
    </div>
  </div>
  <div style="background-color: rgba(255, 255, 255, 0.74)">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <div id="content">
            <ul class="timeline">
              <li class="event" data-date="???? - 2021">
                <h3>Greatness Awaits</h3>
                <p></p>
              </li>
              <li class="event" data-date="2021 - 2020">
                <h3>Web Developer</h3>
                <p>Freelance web developer</p>
              </li>
              <li class="event" data-date="2021 - 2020">
                <h3>QA Engineer</h3>
                <p>TrulyProtect cyber security start-up company.</p>
                <p>
                  In charge of writing and executing testing scripts, as well as
                  executing testing plans for hypervisor, testing the encrypted
                  programs
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
