<div class="container changeFont">
  <div class="row">
    <div class="text-center col-12">
      <app-header [title]="'Projects'"></app-header>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
      <h5>Miky zart webiste</h5>
      <div class="comingSoonBackground">
        I developed for my artist friend, Miky Zar. I took this project on, while
        recognizing the need to move his business online due of COVID-19’s new
        reality forced on us all. I'm very proud of the final outcome delivered
        for the client.
      </div>
      <div class="row text-center">
        <div class="col">
          <a href="https://mikyzart.net/" target="_blank" title="Art shop"
            ><img
              class="imageSize"
              src="https://i.ibb.co/ChD4RwC/mikywebsite2021.png"
              alt="mikywebsite2021"
          /></a>
        </div>
      </div>
      <div class="borderProjectPage mt-2">
        <div class="row text-left">
          <div class="col ml-2">
            <p>Front-end</p>
            <hr />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-angular></app-svg-angular>
            <div class="svgIconsText">Angular 11.1</div>
          </div>
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-bootstrap></app-svg-bootstrap>
            <div class="svgIconsText">Bootstrap 4</div>
          </div>
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-html5></app-svg-html5>
            <div class="svgIconsText">HTML5</div>
          </div>
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-css3></app-svg-css3>
            <div class="svgIconsText">CSS3</div>
          </div>
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-type-script></app-svg-type-script>
            <div class="svgIconsText">TypeScript</div>
          </div>
        </div>
      </div>

      <div class="borderProjectPage mt-2">
        <div class="row text-left">
          <div class="col ml-2">
            <p>Back-end</p>
            <hr />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-expressjs></app-svg-expressjs>
            <div class="svgIconsText">Express.js</div>
          </div>
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-js></app-svg-js>
            <div class="svgIconsText">JavaScript</div>
          </div>
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-restapi></app-svg-restapi>
            <div class="svgIconsText">RESTful API</div>
          </div>
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-nodejs></app-svg-nodejs>
            <div class="svgIconsText">Node.js</div>
          </div>
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-mongodb></app-svg-mongodb>
            <div class="svgIconsText mt-1">MongoDB</div>
          </div>
        </div>
      </div>

      <div class="borderProjectPage mt-2">
        <div class="row text-left">
          <div class="col ml-2">
            <p>Cloud</p>
            <hr />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-aws></app-svg-aws>
            <div class="svgIconsText">AWS</div>
          </div>
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-s3></app-svg-s3>
            <div class="svgIconsText">S3</div>
          </div>
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-ec2></app-svg-ec2>
            <div class="svgIconsText">EC2</div>
          </div>
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-route53></app-svg-route53>
            <div class="svgIconsText">Route53</div>
          </div>
          <div class="col-sm-2 col-6 svgIcons">
            <app-svg-cloudfront></app-svg-cloudfront>
            <div class="svgIconsText">CloudFront</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 comingSoonBackground">
      <div class="comingSoon">
        <p>Coming soon...</p>
      </div>
    </div>
  </div>
</div>
